<!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">


      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'admindashboard-index' %}">
          <i class="bi bi-people"></i>
          <span>Patients</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'admindashboard-editProfile' %}">
          <i class="bi bi-pencil-square"></i>
          <span>Edit Profile </span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'admindashboard-signup' %}">
          <i class="bi bi-person-plus-fill"></i>
          <span>Add a Doctor </span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'admindashboard-signup' %}">
          <i class="bi bi-people-fill"></i>
          <span>Doctor Profiles </span>
        </a>
      </li>


      <!-- End Dashboard Nav -->


<!--       <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'dashboard-addAndPredictDiabetes' %}">
          <i class="bi bi-grid"></i>
          <span>Predict Diabetes Risk</span>
        </a>
      </li>

       <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'dashboard-history' %}">
          <i class="bi bi-file-bar-graph"></i>
          <span>History</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'dashboard-editProfile' %}">
          <i class="bi bi-person-check"></i>
          <span>Profile</span>
        </a>
      </li> -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'admindashboard-logout_view' %}">
          <i class="bi bi-person-x"></i>
          <span>Logout</span>
        </a>
      </li>



    </ul>

  </aside><!-- End Sidebar-->