{% extends 'adminpartials/base.html' %}

{% block title %} Dashboard {% endblock %}

{% load static %}

{% block content %}
<!-- <div class="pagetitle">
  <h1>Dashboard</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item active">Dashboard</li>
    </ol>
  </nav>
</div> -->
<!-- End Page Title -->

<section class="section dashboard">
  <div class="container">
    <div class="row">

      <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <i class="bi bi-star me-1"></i>
        <strong>Good day, Dr. {{request.user}}!</strong>
      </div>
      <div class="card">
        <div class="card-title">
          <h2 class="m-4">Patients List</h2>            
        </div>
        <div class="card-body">
          <div class="row">
              <div class="col-md-6">
                <form method="GET" class="mb-4">
                  <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search by username" value="{{ query }}">
                    <div class="input-group-append" style="margin-left: 5px;">
                      <button type="submit" class="btn btn-outline-secondary"><i class="bi bi-search"></i></button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          <div class="row"> <!-- add row class here -->
            {% for user in users %}
            <div class="col-md-4">
              <div class="card text-center">
                <div class="card-body">
                  <img src="{{ user.profile.avatar.url }}" class="rounded mx-auto d-block mt-4" style="max-width: 75%;">
                  <div class="card-title m-4"><a href="{% url 'admindashboard-patientInfo' user.id %}">{{user.username}}</a></div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}