{% extends 'partials/base.html' %}

{% block title %} Dashboard {% endblock %}

{% load static %}

{% block content %}
<section class="section dashboard">
  <div class="container">
    <div class="row">
      <div class="card">
        <div class="card-title m-4"><h2>All Doctors</h2></div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <form method="GET" class="mb-4">
                <div class="input-group">
                  <input type="text" name="q" class="form-control" placeholder="Search by username" value="{{ query }}">
                  <div class="input-group-append" style="margin-left: 5px;">
                    <button type="submit" class="btn btn-outline-secondary"><i class="bi bi-search"></i></button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="row">
            {% for user in allDoctors %}
              <div class="col-md-4">
                <div class="card text-center">
                  <div class="card-body">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-12">
                          <img src="{{ user.doctorprofile.avatar.url }}" class="rounded mx-auto d-block mt-4" style="max-width: 75%;">
                          <div class="card-title m-4"><a href="{% url 'dashboard-doctorOnly' user.id %}">{{user.username}}</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
