{% extends 'partials/base.html' %}

{% block title %} Dashboard {% endblock %}

{% load static %}

{% block content %}
<!-- <div class="pagetitle">
  <h1>Dashboard</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item active">Dashboard</li>
    </ol>
  </nav>
  </div> -->
  <!-- End Page Title -->

<section class="section dashboard">
  <div class="container">
    <div class="row">
      <div class="card">
        <div class="card-title m-4"><h2>All Doctors</h2></div>
        <div class="card-body">
          <div class="row">
            {% for user in allDoctors %}
              <div class="col-md-4">
                <div class="card">
                  <div class="card-title m-4"><a href="{% url 'dashboard-doctorOnly' user.id %}">{{user.username}}</a></div>
                  <div class="card-body">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-12">
                          <img src="{% static 'default/458177.png' %}" class="rounded mx-auto d-block" style="max-width: 75%;">
                          <div class="py-5">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
