{% extends 'partials/base.html' %}

{% block title %} Dashboard {% endblock %}

{% block content %}

<div class="pagetitle">
  <h1>Predict Diabetes Risk</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item active">Predict Diabetes Risk</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card">
        <div class="card-title p-4">
          <h2>Diabetes Status</h2>
          <div id="dateToday" style="color: gray;"></div>
        </div>
        <div class="card-body">
          <form class="row g-3" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Line Chart</h5>

          <!-- Line Chart -->
          <canvas id="lineChart" style="max-height: 400px;"></canvas>
          <script>
            document.addEventListener("DOMContentLoaded", () => {
              new Chart(document.querySelector('#lineChart'), {
                type: 'line',
                data: {
                  labels: [{% for predicted_values in predicted_values %} '{{ predicted_values.date }}', {% endfor %}],
                  datasets: [{
                    label: 'Diabetes Probability (in percent)',
                    data: [{% for predicted_values in predicted_values %} {{predicted_values.predictions }}, {% endfor %}],
                    fill: false,
                    borderColor: 'rgb(75, 192, 192)',
                    tension: 0.1
                  }]
                },
                options: {
                  scales: {
                    y: {
                      beginAtZero: true
                    }
                  }
                }
              });
            });
          </script>
          <!-- End Line CHart -->

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

